.blog {
   background: url('../img/backblog.jpg');
   background-repeat: repeat;
}

.posts.listings .post-heading h2 a {
    color: #ffffff;
}

.posts.listings .post_preview {
    color: #ffffff;
}

.blog-post {
   background-color: #07001b;
}

.individual-post .info-entry .post-heading h2 {
   color: #ffffff;
}

.individual-post .meta {
   color: #ffffff;
}

.individual-post .pager-post li a {
   color: #ffffff;
}

.search-page {
    background: url('../img/backblog.jpg');
    background-repeat: repeat;
}

.search-page .tabs .posts.listings h5, .no-posts {
   color: #ffffff;
}

.no-posts2, .no-posts3 {
  color: #ffffff;
}

.text-listing-entries a.read-more,
.blog .posts.listings .read-more {
   color: #16cbe6;
}

.people .properties ul li {
   color: #ffffff;
}
.people .info-entry .date{
    color: #ffffff;
}

#tag-list .btn-tag {
   background-color: #ffffff;
   color: #333333;
}

.text-listing-entries::before, .loading-posts .view-more::before {
  background: #152e4a none repeat scroll 0 0;
}

.loading-posts .more-posts {
  background: #152e4a none repeat scroll 0 0;
  color: #39b3d7;
}

.loading-posts .more-posts:hover{
    color: #152e4a;
    background: #39b3d7;
}

.text-listing-entries {
  border-bottom: 1px solid rgba(242, 245, 238, 0.1);
}

.progressloader .spinner div {
  background-color: #152E4A;
}

.blog .page-heading {
   color: rgba(255, 255, 255, 0.4);
}

/*profile/author between themes*/
.author-description {
	background: url('../img/backblog.jpg');
    background-repeat: repeat;
}
.author-description .profile-description p{
    color: #fff;
}
#author-tab-content1 .info-entry p.uppercase{
    color: #fff;
}
#author-tab-content1 ul li{
    color: #fff;
}
#author-tab-content2 p.no-posts, #author-tab-content3 p{
    color: #fff !important;
}
.blog h2 a{
    color: #fff!important;
}
.post_preview_wrapper{
    color: #fff;
}
.author-page .background-bar{
    background-color: #152e4a!important;
}
.tabs [id^="tab"]:checked + label, .tabs [id^="author-tab"]:checked + label{
    color: #16cbe6;
    border-bottom: 4px solid #16cbe6;
}
.tabs label:hover{
    color: #16cbe6;
    border-bottom: 4px solid #16cbe6;
}
.author-description .rss-part a button{
    background-color: #FF6600;
}


