/*style Register.tt*/
.register {
    position: absolute;
    top: 80px;
    width: 100%;
    background: url('../img/camila-gri.jpg') center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.register .container {
    margin: 50px auto;
}
.register .container h3 {
    margin-bottom: 0;
}
.register .register-wrapper {
    margin-top: 30px;
}
.register .register-wrapper .form-group {
    margin-bottom: 10px;
}
.register .submitRegister {
    width: 100%;
    height: 50px;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    background: #333;
    color: #3BBEDC;
    font-weight: 700;
    font-size: 16px;
}
.register .form-group .form-control {
    height: 50px;
    padding: 6px 20px;
}
.register .form-group .form-control.error:focus {
    border-color: red;
}
.register .error {
    color: red;
}
.register .captcha {
    height: 110px;
    border-radius: 5px;
    margin-top: 25px;
}
.register .checkbox  {
    width: 70%;
    margin: 20px auto;
}
.register .checkbox label {
    display: inline-block;
}
.register .checkbox input {
    height: 14px;
    width: 14px;
}
.register .social_register{
    margin-top: 35px;
}
.register .separator {
    width: 50%;
}
.register .social_register a i {
    border-radius: 15px;
}
.register-success, .register-done, .recover-password {
    position: absolute;
    top: 80px;
    width: 100%;
    height: calc(100% - 80px);
    padding-top: 80px;
    background: url('../img/camila-gri.jpg') center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.register-success h1, .register-done h1, .recover-password h1 {
    margin-bottom: 40px;
    font-size: 50px;
}
.register-success .text-success {
    color: #79A301;
}
.recover-password, .err-404, .err-500 {
    z-index: 13;
}
.register-done {
    z-index: 13;
}
.register-success, .sign-up {
    z-index: 13;
}
.register-done .btn-start {
    padding: 15px 46px;
    margin: 40px;
    font-weight: bold;
    background-color: #19132D;
    color: #ffffff;
}
@media all and (max-width: 450px) {
    .register-done h1 {
        font-size: 38px;
    }
    .register-done .btn-start {
        padding: 12px 30px;
    }
    .register-done h4 {
        font-size: 17px;
    }
}

/*END style Register.tt*/

/*START Sing in form*/
.sign-up {
    /* top:inherit;*/
    background: url('../img/camila-gri.jpg') center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.register .submit-recovery {
    width: 50%;
    height: 50px;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    background: #333;
    color: #3BBEDC;
    font-weight: 700;
    font-size: 16px;
    float: right;
}

.sign-up .pass_recov {
    margin-top: 15em;
}
/*END Sing in form*/