*.DS_Store
.build
tags
Makefile
blib
cover_db
pm_to_blib
Makefile.old
*~
MYMETA.json
MYMETA.yml
*.sw?
/.tidyall.d
/perltidy.LOG
perlblog-*
logs
public/covers/*
public/captcha/*
config.yml
local/
sessions/
