.build
PearlBee-*
tags
blib
cover_db
pm_to_blib
Makefile
Makefile.PL
Makefile.old
MANIFEST
*~
MYMETA.json
MYMETA.yml
*.sw?
/.tidyall.d
/perltidy.LOG
perlblog-*
logs
public/covers/*
public/captcha/*
config.yml
local/
