<!DOCTYPE html>
<html lang="en">

  <head>    
    [% INCLUDE theme/styles.tt %]
  </head>

  <body>
   
    [% INCLUDE theme/header.tt %]
  
    [% content %]
  
    [% INCLUDE theme/footer.tt %]  
   
    [% INCLUDE theme/scripts.tt %]

  </body>

</html>
