 <ul class="pager marginnone margintop35">
   [% page %]
   [% SET disabled_previous = ( page == 1 ) ? 'disabled' : '' %]
   [% SET disabled_next = ( page == total_pages ) ? 'disabled' : '' %]
   <li class="previous [% disabled_previous %]"><a href="[% session.app_url %][% previous_link %]">&larr; Older</a></li>
   <li class="next [% disabled_next %]"><a href="[% session.app_url %][% next_link %]">Newer &rarr;</a></li>
</ul>