<!DOCTYPE html>

<html class="no-js" lang="en" prefix="og: http://ogp.me/ns#"><!--<![endif]--><head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>E-mail required - TRUBZI</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="/_dep/bootstrap.min.css">
  <link rel="stylesheet" href="/_dep/font-awesome.min.css">

  <link rel="stylesheet" href="/_dep/main.css">

  <script type="text/javascript" src="/_dep/jquery.js"></script>
  <script type="text/javascript" src="/social.js?app=tru"></script>
</head>
<body class="passwordSign">
<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->


<!-- HERO section -->

  <br><br>    

<section id="blog">
  <div class="container" id="forgot-password-page">
    <form>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="form-group clearfix">
            <label class="col-xs-4 control-label"></label>
            <div class="col-xs-8">
              <input type="text" id="requiredEmail" class="form-control" name="email" placeholder="Your email..." required="">
            </div>
          </div>

          <div class="form-group clearfix">
            <div class="col-xs-4"></div>
            <div class="col-xs-8">
              <!-- <hr /> -->
              <button id="btnSave" type="submit" class="btn btn-pearlbee-inverse pull-right">Let's go</button>
            </div>
          </div>
          <div class="form-group clearfix pull-right" id="responseBox" style="display: none;">
            <div class="col-xs-12" id="respMessage"></div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>

</div>
<script type="text/javascript">
  $(document).ready(function() {
    $("#responseBox").hide();
    var handleError = function HandleError(msg) {
      msg = (typeof msg === 'string' ? msg : "An error occurred. Please try again later.");
      $("#responseBox").show();
      $("#respMessage").text(msg);
    };
    $("form").submit(function(e) {
      e.preventDefault();
      e.stopPropagation();
      $("#responseBox").hide();
      var mail = $("#requiredEmail").val().trim();
      if(mail.length <= 4) {
        handleError('Please enter your e-mail address.');
        return false;
      }
      $.post('/email/save?app=tru', {
        email: mail,
        token: 'vfVW3eJLNqg1SHy'
      }).success(function(d){
        try {
          d = JSON.parse(d);
        } catch(e) {
          return handleError();
        }
        if(typeof d !== 'object' || d === null) {
          handleError();
        }
        if(d['type'] === 'error') {
          switch(d['code']) {
            case 'INVALID_EMAIL':
              return handleError('The email is not valid.');
            case 'REQUEST_EXPIRED':
              return handleError('The request has expired. Please re-login with the selected social network.');
            default:
              return handleError();
          }
        }
        var token = d['data'];
        Social.authCallback("facebook", true, token);
      })['error'](function(e) {
        handleError("An error occurred. Please try again later.");
      });
      return false;
    });
  });
  window.resizeTo(650, 450);
</script>


</body></html>