<!DOCTYPE html>

<!-- <html class="no-js" lang="en" prefix="og: http://ogp.me/ns#"><![endif]<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link rel="stylesheet" href="/bootstrap.min.css">
  <link rel="stylesheet" href="/font-awesome.min.css">

  <link rel="stylesheet" href="/main.css">

  <script type="text/javascript" src="/jquery.js"></script>
  <script type="text/javascript" src="/social.js?app=tru"></script>
</head> -->
<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->


<section id="blog">
  <div class="container" id="password-page" >
    <form style="margin-top:130px">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="form-group clearfix">
            <label class="col-xs-4 control-label"></label>
            <div class="col-xs-8">
              <input type="text" id="requiredPassword" class="form-control" name="email" placeholder="Your email..." required="">
            </div>
          </div>

          <div class="form-group clearfix">
            <div class="col-xs-4"></div>
            <div class="col-xs-8">
              <!-- <hr /> -->
              <button id="btnSave" type="submit" class="btn btn-pearlbee-inverse pull-right">Let's go</button>
            </div>
          </div>
          <div class="form-group clearfix pull-right" id="responseBox" style="display: none;">
            <div class="col-xs-12" id="respMessage"></div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
  $(document).ready(function() {
    $("#responseBox").hide();
    var handleError = function HandleError(msg) {
      msg = (typeof msg === 'string' ? msg : "An error occurred. Please try again later.");
      $("#responseBox").show();
      $("#respMessage").text(msg);
    };
    $("form").submit(function(e) {
      e.preventDefault();
      e.stopPropagation();
      $("#responseBox").hide();
      var pass = $("#requiredPassword").val().trim();
      if(pass.length <= 4) {
        handleError('Please enter your password.');
        return false;
      }
      $.post('/password', {
        password: pass,
      }).success(function(d){
        try {
          d = JSON.parse(d);
        } catch(e) {
          return handleError();
        }
        if(typeof d !== 'object' || d === null) {
          handleError();
        }
        if(d['type'] === 'error') {
          switch(d['code']) {
            case 'INVALID_PASSWORD':
              return handleError('The password is not valid.');
            case 'REQUEST_EXPIRED':
              return handleError('The request has expired. Please re-login with the selected social network.');
            default:
              return handleError();
          }
        }
       
      })
      return false;
    });
  });
</script>
