<link href="/blog/css/register.css" rel="stylesheet">
 <div class="recover-password">
   <div class="container">
     <div class="row"> 
       <div class="col-sm-6 col-sm-offset-3 text-center"> 
         <h1 class="text-success">Success!</h1> 
         <h4>Please access the link sent to your email in order to reset your password </h4> 
        
       </div> 
     </div> 
   </div>    
</div>
