<!DOCTYPE html>
<html lang="en">

  <head>    
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600italic,600' rel='stylesheet' type='text/css'>

	<!-- Styles -->
	<!-- Bootstrap CSS -->
	<link href="[% config.app_url %]/blog/css/bootstrap.min.css" rel="stylesheet">
	<!-- Animate css -->
	<link href="/[% config.app_url %]/blog/css/animate.min.css" rel="stylesheet">
	<!-- Dropdown menu -->
	<link href="[% config.app_url %]/blog/css/ddlevelsmenu-base.css" rel="stylesheet">
	<link href="[% config.app_url %]/blog/css/ddlevelsmenu-topbar.css" rel="stylesheet">
	<!-- Countdown -->
	<link href="[% config.app_url %]/blog/css/jquery.countdown.css" rel="stylesheet">
	<!-- prettyPhoto -->
	<link href="[% config.app_url %]/blog/css/prettyPhoto.css" rel="stylesheet">      
	<!-- Font awesome CSS -->
	<link href="[% config.app_url %]/blog/css/font-awesome.min.css" rel="stylesheet">     
	<!-- Custom CSS -->
	<link href="[% config.app_url %]/blog/css/style.css" rel="stylesheet">
  </head>

  <body>
   
    <div class="header">
	    <div class="container">
	        <div class="row">
	          <div class="col-md-3 col-sm-3">
	            <!-- Logo -->
	          </div>
	          <div class="col-md-9 col-sm-9">
	          <div class="navis"></div>                  
	         </div>
	        </div>
	    </div>
   </div>

	 <div class="page-title">
	     <div class="container">
	        <hr />
	     </div>  
	  </div>
      
      <div class="blog">
        <div class="container">
          	<div class="row">
  
			    [% name %]
			    <br />  
                <br/>       
			    You have successfully reset your [% config.appname %] Blog password. Please set the new password for your account by following this link: <a href="[% config.app_url %][%token%]">[% config.app_url %][%token%]</a>
                <br/>
				<br />
				<br />
				After successfully logging in, you will be asked to change the current temporary password. 
				<br />
				<br />
				<i> Cheers, </i>
				<br />
				<i> [% signature %] </i>
			</div>
		</div>
	</div>

  </body>

</html>
