<!DOCTYPE html>
<html lang="en">

  <head>    
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600italic,600' rel='stylesheet' type='text/css'>

	<!-- Styles -->
	<!-- Bootstrap CSS -->
	<link href="[% url %]/blog/css/bootstrap.min.css" rel="stylesheet">
	<!-- Animate css -->
	<link href="/[% url %]/blog/css/animate.min.css" rel="stylesheet">
	<!-- Dropdown menu -->
	<link href="[% url %]/blog/css/ddlevelsmenu-base.css" rel="stylesheet">
	<link href="[% url %]/blog/css/ddlevelsmenu-topbar.css" rel="stylesheet">
	<!-- Countdown -->
	<link href="[% url %]/blog/css/jquery.countdown.css" rel="stylesheet">
	<!-- prettyPhoto -->
	<link href="[% url %]/blog/css/prettyPhoto.css" rel="stylesheet">      
	<!-- Font awesome CSS -->
	<link href="[% url %]/blog/css/font-awesome.min.css" rel="stylesheet">     
	<!-- Custom CSS -->
	<link href="[% url %]/blog/css/style.css" rel="stylesheet">
  </head>

  <body>
   
    <div class="header">
	    <div class="container">
	        <div class="row">
	          <div class="col-md-3 col-sm-3">
	            <!-- Logo -->
	            <div class="logo">
	               <h1><a href="[% url %]">[% session.blog_name %]</a></h1>
	            </div>
	          </div>
	          <div class="col-md-9 col-sm-9">
	          <div class="navis"></div>                  
	         </div>
	        </div>
	    </div>
   </div>

	 <div class="page-title">
	     <div class="container">
	        <h2>A new comment was submitted </h2>
	        <hr />
	     </div>  
	  </div>
      
      <div class="blog">
        <div class="container">
          	<div class="row">
  				
          		<b> [% fullname %] </b> posted a new comment on <b> <a href="[% post_url %]"> [% title %]</a></b>
          		<br />
				  See the comment here : "[% comment %]"
          		<br />
				  This comment is in reply to [% reply_to_user %]'s previous comment : "[% reply_to_content %]" 
				<br />
          		<i> You can log in with your user account to manage your comments </i>
          		<br />
				<br />
          		<i> Sincerely, </i>
				<br />
				<i>[% signature %]</i>
				<br />
				<a href="[% app_url %]"> [% app_url %] </a>
			</div>
		</div>
	</div>

  </body>

</html>