<!DOCTYPE html>
<html lang="en">

  <head>    
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600italic,600' rel='stylesheet' type='text/css'>

	<!-- Styles -->
	<!-- Bootstrap CSS -->
	<link href="[% config.app_url %]/blog/css/bootstrap.min.css" rel="stylesheet">
	<!-- Animate css -->
	<link href="/[% config.app_url %]/blog/css/animate.min.css" rel="stylesheet">
	<!-- Dropdown menu -->
	<link href="[% config.app_url %]/blog/css/ddlevelsmenu-base.css" rel="stylesheet">
	<link href="[% config.app_url %]/blog/css/ddlevelsmenu-topbar.css" rel="stylesheet">
	<!-- Countdown -->
	<link href="[% config.app_url %]/blog/css/jquery.countdown.css" rel="stylesheet">
	<!-- prettyPhoto -->
	<link href="[% config.app_url %]/blog/css/prettyPhoto.css" rel="stylesheet">      
	<!-- Font awesome CSS -->
	<link href="[% config.app_url %]/blog/css/font-awesome.min.css" rel="stylesheet">     
	<!-- Custom CSS -->
	<link href="[% config.app_url %]/blog/css/style.css" rel="stylesheet">
  </head>

  <body>
   
    <div class="header">
	    <div class="container">
	        <div class="row">
	          <div class="col-md-3 col-sm-3">
	            <!-- Logo -->
	            <div class="logo">
	               <h1><a href="[% config.app_url %]">[% blog_name %]</a></h1>
	            </div>
	          </div>
	          <div class="col-md-9 col-sm-9">
	          <div class="navis"></div>                  
	         </div>
	        </div>
	    </div>
   </div>

	 <div class="page-title">
	     <div class="container">
	        <h2>Welcome <small>[% name %]</small></h2>
	        <hr />
	     </div>  
	  </div>
      
      <div class="blog">
        <div class="container">
          	<div class="row">
  
			    The admin of <a href="[% config.app_url %]"> [% blog_name %] </a> [% allowed ? 'accepted you' : 'added you' %] as an <b> [% role %]</b> to the blog.
			    <br />         
				Here is your login information:
				<br />
				<br />
				<b>Username:</b> "[% username %]" (quote signs are not part of the username)
				<br />
				<b>Password:</b> "[% password %]" (quote signs are not part of the password)
				<br />
				<br />
				After you log in you will be asked to change the current temporary password.
				<br />
				<br />
				<i> Sincerely, </i>
				<br />
				<i> [% signature %] </i>
				<br />
				<a href="[% config.app_url %]"> [% config.app_url %] </a>
			</div>
		</div>
	</div>

  </body>

</html>
