<!-- Javascript files -->
    <!-- jQuery -->
    <script src="[% session.app_url %]//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="[% session.app_url %]/blog/js/bootstrap.min.js"></script>
    <!-- Respond JS for IE8 -->
    <script src="[% session.app_url %]/blog/js/respond.min.js"></script>
    <!-- HTML5 Support for IE -->
    <script src="[% session.app_url %]/blog/js/html5shiv.js"></script>